[Desktop Entry]
Name=OpenPlay
Comment=Cast your screen to AirPlay, Miracast, or OpenPlay receivers
Exec=openplay-sender
Icon=org.openplay.OpenPlay
Terminal=false
Type=Application
Categories=AudioVideo;Video;Network;
Keywords=screen;cast;mirror;airplay;miracast;stream;
StartupNotify=true
